<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<% @selects.each do |sel| %>
	<h2> 
		<%= sel.id %>
		<%= sel.city %>	
		<%= link_to("Show", order_url(sel) ) %><br>
	</h2>
<% end %>