<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>
<% if alert && alert.size > 0 %>	
	<div style="color:red">
		<%= alert %>
	</div>
<% else %>
	<h2>
		<%= @selects.id %>
		<%= @selects.city %>
	</h2>
<% end %>
