<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>
<%= form_for @order , :url=> user_orders_path(@user.id) do |o| %>
	<%= render partial:"form" , locals: {f:o} %>
	<%= o.submit %>
<% end %>