<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<% if @msg %>
	<p>
		<%= @msg %>
	</p>
<% end %>

<% if @errors && @errors.size >  0 %>
	<% @errors.each do|panga| %>
		<p>
			<h3> <%= panga %> </h3>
		</p>
	<% end %>
<% end %>

